/* Все теги */
/* Обнуление стилей */
*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-size: 1em;
    /* 1em = 16px */
    font-weight: normal;
    box-sizing: border-box;
}

body{
    padding: 8px;
}

h1{
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin: 15px 0;
}

p{
    margin: 15px 0;
}

a{
    color: blue;
}

ul{
    margin: 10px 0;
    padding-left: 40px;
}

ol{
    padding-left: 40px;
}

/* .block1{ */
    /* border: 5px solid black; */
    /* width: 400px; */
    /* height: 400px; */
    /* background-color: rgb(34, 134, 70); */
    /* Красный, зеленый, синий */
    /* 0 - 255 */
    /* background-color: #1253b4; */
    /* 000000 - FFFFFF */
    /* #RRGGBB */
    /* 0 - F */
    /* background-color: rgba(123, 35, 255, 0.1); */
    /* alpha 0-1 прозрачность */
/* } */

.div1{
    border: 5px solid blue;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
}

.div2{
    border: 5px solid green;
    width: 200px;
    height: 200px;
    padding: 20px;
}

