*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
}

.container{
    width: 810px;
    height: 810px;
    border: 5px solid black;
    margin: 0 auto;
    position: relative;
}

.container div{
    width: 200px;
    height: 200px;
    /* position: relative; */
    position: absolute;
}

.block1{
    background-color: blue;
    /* top: 0;
    left: 0; */
}

.block2{
    background-color: lightblue;
    /* left: 600px;
    bottom: 200px; */
    right: 0;
}

.block3{
    background-color: darkblue;
    /* top: 200px; */
    bottom: 0;
}

.block4{
    background-color: blueviolet;
    /* left: 600px; */
    right: 0;
    bottom: 0;
}