*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 10px;
}

p, h1, h2{
    margin: 16px 0;
}

nav{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

nav a{
   color: white;
   padding: 15px;
   display: inline-block; 
   border-right: 1px solid white;
}

main{
    position: relative;
    top: 50px;
}