h1{
    color: brown;
    /* выровнить по центру */
    text-align: center;
}

/* Селекторы:
1. назание тега
2. .класс
3. #идентификатор
 */

p{
    /* свойство: значение; */
    /* Цвет текста */
    color: red;
    /* размер текста */
    font-size: 20px;
}

.changeColor{
    color: pink;
}

.p1{
    font-size: 25px;
}

#color1{
    color: green;
}

.changeSize{
    font-size: 30px;
}

.new_p{
    color: black;
    font-size: 16px;
    /* ширина */
    width: 50%;
    /* выравнивание текста */
    text-align: justify;
    /* left, right, center, justify */
    /* Насыщенность/жирность */
    font-weight: bold;
    /* Начертание/курсив */
    font-style: italic;
    /* пространство между строками */
    line-height: 40px;
    /* отступ первой строки */
    text-indent: 40px;
    /* подчеркивание */
    text-decoration: underline;
}
